.DS_Store
venv/
__pycache__/
frontend/node_modules/
frontend/dist/
node_modules/
backend/data/
frontend/.next/
*.pyc
npm-debug.log*
.env
.env.local

backend/uploads/
backend/node_modules/
backend/pnpm-lock.yaml
frontend/pnpm-lock.yaml

*storybook.log
storybook-static
dist/
test-results/
frontend/test-results/
*.tsbuildinfo

.history/